@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-7xl {
    max-width: 90%;
}

.text-xs {
text-transform: uppercase;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.text-lg {
text-transform: uppercase;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}


.text-sm.text-center.font-medium.text-gray-900 {
    font-weight: 700;
    text-transform: uppercase;
}
